<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sensoro.survey">
    <!-- 允许程序获取网络状态 -->
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:icon="@mipmap/logo"
        android:label="升哲勘察"
        tools:replace="android:label">
        <activity android:name=".SelectCityActivity"></activity>
        <activity
            android:name="com.sensoro.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelecCityActivity"
            android:label="@string/title_activity_selec_city"
            android:theme="@android:style/Theme.Translucent"  />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">

            <!--
                 This keeps the window background of the activity showing
                 until Flutter renders its first frame. It can be removed if
                 there is no splash screen (such as the default splash screen
                 defined in @style/LaunchTheme).
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />
        </activity> <!-- 适配小米（xiaomi）刘海屏 -->
        <activity
            android:name=".LocationEdtitActivtiy"
            android:theme="@style/LaunchTheme" />
        <activity
            android:name=".AdministrativeActivity"
            android:theme="@style/LaunchTheme" />
        <activity
            android:name=".DeployMapActivity"
            android:theme="@style/LaunchTheme" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxf274fbb694ee5981" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="223082ee8e171c2e60fe707d8bb48806" />

        <service android:name="com.amap.api.location.APSService" />
        <service android:name="com.amap.api.location.APSService" />
    </application> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODE_PRIVATE" />

    <uses-permission android:name="android.permission.MODE_WORLD_WRITEABLE" />

</manifest>